@import "fontface.css";
body {
    padding-top: 0px;
    font-family: 'thaisans_neueregular';
}

h2{
    font-family: 'thaisans_neuebold';
}

.navbar-wrapper {
    height: 140px;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 20;
    padding: 10px;
    color: #F5F5F5;
    background-color: #305486;    
}

.navbar-wrapper a{
    color: #ffffff;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.dash-title{
    font-size: 14px; 
    font-weight: bold;
}

a{
    color: #0099cc;
}

.dash-more{
    font-size: 16px;
    margin-top: 20px;
    margin-right: 10px;
}
/*.carousel-inner {
    height: 520px;
}

.carousel-inner > .item > a > img {
  height: 520px;
}
*/
.footer {
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: #212121;
}

.app-title{
    height: 50px;
    background-color: #122645;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 24px;
    margin-bottom: 15px;
}

.app-label{
    font-size: 12px; 
    padding-top: 3px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after  { content: /*"\e113"*/"\e151"; }
a.desc:after { content: /*"\e114"*/"\e152"; }

.sort-numerical a.asc:after { content: "\e153"; }
.sort-numerical a.desc:after { content: "\e154"; }

.sort-ordinal a.asc:after { content: "\e155"; }
.sort-ordinal a.desc:after { content: "\e156"; }

.page-header{
    margin: 0 0 15px;
    border-bottom: 1px solid #1a816f;
    font-size: 18px;
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
}

.nav{
    /*font-family: 'thaisans_neuebold';*/
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 0px;
}

.nav > li > a:hover{
  text-decoration: none;
  background-color: transparent;
}

.nav .open > a:focus{
    background-color: transparent;
}

.nav > li.disabled.nav-header > a {
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-pills > li {
    float: left;
}
.nav-pills > li > a {
    border-radius: 0px;
    padding: 6px;
    padding-left: 10px;
}
.nav-pills > li + li {
    margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #122645;/*�ѹ��� #333333*/
}
.nav-stacked > li {
    float: none;
}
.nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0;
}

.navbar-collapse {
    padding-left: 0px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #ffffff;
    background-color: #0099cc;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
    text-decoration: none;
    font-weight: bold;
}

.nav-tabs {
    border-bottom: 1px solid #0099cc;
}

.article-header{
    padding: 10px 0px 4px;     
    font-weight: bold; 
    color: #0099cc;
    font-size: 16px; 
}

.gallery-item{
    display: table;
    height: 90px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 0px #a2958a;
    float: left;
    margin: 8px;
}

.gallery-item:hover{
    background-color: #eee;
    box-shadow: 2px 2px 5px 0px #333;
}

.gallery-item img{
    height: 80px;
    margin: 5px;
}

.gallery-header{
    padding: 10px 0px 4px;     
    font-weight: bold; 
    color: #0099cc;
    font-size: 16px; 
    /*border-bottom: 1px solid #0099cc;*/
}

.gallery-list{
    list-style: none; 
    padding: 5px;
    margin-top: 5px;
}

.gallery-list a{
    color: #000000;    
}

.gallery-list a:link{
    
}

.gallery-list li{
    padding-bottom: 20px;
    display: inline-block;
}

.footer_link{
    padding-left: 30px;
}

.has-feedback {
    position: relative;
}

.has-feedback .form-control-feedback {
    position: absolute;
    top: 25px;
    right: 0;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

.more_link a{
    color: #555;
    font-weight: normal;
    font-size: 14px;
}
